.container{
     margin-bottom: 100px;
}
.or-bg{
     background-color: #fceae8;
     border-radius: 10px;
}
.carousel-item{
     padding: 20px 40px;
}
.price{
     color: #FF136f;
}
.bnt-bnt{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136f 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}
.cat1{
     background-color: orange;
    
}
.cat2{
    background-color: orchid;
}
.cat3{
     background-color: blue;
}
.cat1,.cat2,.cat3{
     padding:10px 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     border-radius: 15px;
}
.cat-gore img{
     width: 100px;
}